*
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.c1
{
    background: rgb(0, 255, 98);
}

.c2
{
    background: rgb(128, 0, 77);      
}
    
.c3
{
    background: rgb(255, 251, 0);
   
}

h1,.buttons{
    text-align: center;
}

button
{
    font-size: 30px;
}

h1
{
    font-size: 30px;
    text-decoration: underline;
}

.c1,.c2,.c3
{
    color: #fff;
    border: none;
    margin: 10px;
    padding: 10px 10px;
    border-radius:4px;
    box-shadow: 5px 6px 8px #000;
    transition: .3s;
}

.c1:hover,.c2:hover,.c3:hover
{
   color:#000;
   background: #fff;
}